@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Регистрация и вся работа в боте - <a href="https://t.me/PersonalAssistantLinksBot">PersonalAssistantLinksBot</a></p>
</div>
